.shared {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #99C2E8;
    background-color: #CCE1F3;
}

.header .content {
    padding: 10px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .text {
    color: #3E3832;
    font-weight: 620;
    font-size: 40px;
}

.header .textMobile {
    color: #3E3832;
    font-weight: 600;
    font-size: 20px;
}


.body {
    background-color: #E9E7E7;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .element {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.footer img {
    padding: 10px;
}

.footer .content {
    padding-bottom: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.contentbox {
    display: flex;
    margin: 20px;
    padding: 5px;
    width: 50%;
    background-color: white;
    border-radius: 5px;
}

.contentboxMobile {
    display: flex;
    margin: 20px;
    padding: 5px;
    width: 90%;
    background-color: white;
    border-radius: 5px;
}

.contentbox .container {
    padding-top: 5px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-right: 50px;
}